
h1{
    color:olive;
    text-align:center;
    font-weight: 700;
    text-decoration:cornflowerblue dotted underline;
    letter-spacing: 5px;
    font-size: 40px;
    font-family:Verdana;



    width:50;
    

}


p{
    text-align: right;
    font-weight:bold;
    color: #784745;
    line-height :0.5;
    




}


a{
    text-decoration: none;
    color:red;
}


